canvas, html, body {
  height: 100%;
  width: auto;
  background: black;
  image-rendering: pixelated;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

center {
  position: absolute;
  left: 0;
  top: 0;
}

p {
  z-index: 10;
  color: white;
  font-family: monospace;
}
